In [61]:
import pandas as pd

In [62]:
df_acc20_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2020.csv')
df_acc21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2021.csv')

/var/folders/gr/qbhbzltn5dq7hxmnmds25cd40000gn/T/ipykernel_60341/2420777013.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_acc20_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2020.csv')
/var/folders/gr/qbhbzltn5dq7hxmnmds25cd40000gn/T/ipykernel_60341/2420777013.py:2: DtypeWarning: Columns (0,2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_acc21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2021.csv')

In [63]:
print("Count of row and columns - road casualty statistics accident 2020")
df_acc20_raw.shape

Count of row and columns - road casualty statistics accident 2020

(91199, 36)

In [64]:
print("Count of row and columns: road casualty statistics accident 2021")
df_acc21_raw.shape

Count of row and columns: road casualty statistics accident 2021

(101087, 36)

In [65]:
df_acc20_raw.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,10219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,10220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,10228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,10228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,10228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,0,4,1,1,0,0,1,1,2,E01004763

In [66]:
df_acc21_raw.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2021010287148,2021,10287148,521508.0,193079.0,-0.246102,51.623425,1,3,3,...,0,4,7,4,1,0,1,1,2,E01000263
1,2021010287149,2021,10287149,535379.0,180783.0,-0.050574,51.509767,1,2,2,...,5,4,1,1,0,0,1,1,2,E01004303
2,2021010287151,2021,10287151,529701.0,170398.0,-0.136152,51.417769,1,2,2,...,5,4,1,1,0,0,1,1,2,E01003146
3,2021010287155,2021,10287155,525312.0,178385.0,-0.196411,51.490536,1,1,1,...,4,4,1,1,0,0,1,1,2,E01002847
4,2021010287157,2021,10287157,512144.0,171526.0,-0.388169,51.431649,1,3,4,...,0,4,1,1,0,0,1,1,2,E01002608

In [67]:
frames_acc = [df_acc20_raw, df_acc21_raw]
df_acc = pd.concat(frames_acc)
print("Count of row and columns: road casualty statistics accident 2020 and 2021")
df_acc.shape

Count of row and columns: road casualty statistics accident 2020 and 2021

(192286, 36)

In [68]:
df_acc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192286 entries, 0 to 101086
Data columns (total 36 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   accident_index                               192286 non-null  object
 1   accident_year                                192286 non-null  int64
 2   accident_reference                           192286 non-null  object
 3   location_easting_osgr                        192255 non-null  float64
 4   location_northing_osgr                       192255 non-null  float64
 5   longitude                                    192255 non-null  float64
 6   latitude                                     192255 non-null  float64
 7   police_force                                 192286 non-null  int64
 8   accident_severity                            192286 non-null  int64
 9   number_of_vehicles                           192286 non-null  int64
 10  number_of_casualties                         192286 non-null  int64
 11  date                                         192286 non-null  object
 12  day_of_week                                  192286 non-null  int64
 13  time                                         192286 non-null  object
 14  local_authority_district                     192286 non-null  int64
 15  local_authority_ons_district                 192286 non-null  object
 16  local_authority_highway                      192286 non-null  object
 17  first_road_class                             192286 non-null  int64
 18  first_road_number                            192286 non-null  int64
 19  road_type                                    192286 non-null  int64
 20  speed_limit                                  192286 non-null  int64
 21  junction_detail                              192286 non-null  int64
 22  junction_control                             192286 non-null  int64
 23  second_road_class                            192286 non-null  int64
 24  second_road_number                           192286 non-null  int64
 25  pedestrian_crossing_human_control            192286 non-null  int64
 26  pedestrian_crossing_physical_facilities      192286 non-null  int64
 27  light_conditions                             192286 non-null  int64
 28  weather_conditions                           192286 non-null  int64
 29  road_surface_conditions                      192286 non-null  int64
 30  special_conditions_at_site                   192286 non-null  int64
 31  carriageway_hazards                          192286 non-null  int64
 32  urban_or_rural_area                          192286 non-null  int64
 33  did_police_officer_attend_scene_of_accident  192286 non-null  int64
 34  trunk_road_flag                              192286 non-null  int64
 35  lsoa_of_accident_location                    192286 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 54.3+ MB

In [69]:
# Rename Columns From Left Table, 14 Columns
df_acc = df_acc.rename(columns={'local_authority_district' : 'local_authority_district_code',
                                'local_authority_highway' : 'local_authority_highway_code',
                                'police_force' : 'police_force_code',
                                'pedestrian_crossing_physical_facilities' : 'pedestrian_crossing_physical_facilities_code',
                                'junction_detail' : 'junction_detail_code',
                                'road_type' : 'road_type_code',
                                'junction_control' : 'junction_control_code',
                                'light_conditions' : 'light_conditions_code',
                                'pedestrian_crossing_human_control' : 'pedestrian_crossing_human_control_code',
                                'did_police_officer_attend_scene_of_accident' : 'did_police_officer_attend_scene_of_accident_code',
                                'first_road_class' : 'first_road_class_code',
                                'second_road_class' : 'second_road_class_code',
                                'day_of_week' : 'day_of_week_code',
                                'urban_or_rural_area' : 'urban_or_rural_area_code',
                                'accident_severity' : 'accident_severity_code'
                                })

In [70]:
df_acc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192286 entries, 0 to 101086
Data columns (total 36 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   accident_index                                    192286 non-null  object
 1   accident_year                                     192286 non-null  int64
 2   accident_reference                                192286 non-null  object
 3   location_easting_osgr                             192255 non-null  float64
 4   location_northing_osgr                            192255 non-null  float64
 5   longitude                                         192255 non-null  float64
 6   latitude                                          192255 non-null  float64
 7   police_force_code                                 192286 non-null  int64
 8   accident_severity_code                            192286 non-null  int64
 9   number_of_vehicles                                192286 non-null  int64
 10  number_of_casualties                              192286 non-null  int64
 11  date                                              192286 non-null  object
 12  day_of_week_code                                  192286 non-null  int64
 13  time                                              192286 non-null  object
 14  local_authority_district_code                     192286 non-null  int64
 15  local_authority_ons_district                      192286 non-null  object
 16  local_authority_highway_code                      192286 non-null  object
 17  first_road_class_code                             192286 non-null  int64
 18  first_road_number                                 192286 non-null  int64
 19  road_type_code                                    192286 non-null  int64
 20  speed_limit                                       192286 non-null  int64
 21  junction_detail_code                              192286 non-null  int64
 22  junction_control_code                             192286 non-null  int64
 23  second_road_class_code                            192286 non-null  int64
 24  second_road_number                                192286 non-null  int64
 25  pedestrian_crossing_human_control_code            192286 non-null  int64
 26  pedestrian_crossing_physical_facilities_code      192286 non-null  int64
 27  light_conditions_code                             192286 non-null  int64
 28  weather_conditions                                192286 non-null  int64
 29  road_surface_conditions                           192286 non-null  int64
 30  special_conditions_at_site                        192286 non-null  int64
 31  carriageway_hazards                               192286 non-null  int64
 32  urban_or_rural_area_code                          192286 non-null  int64
 33  did_police_officer_attend_scene_of_accident_code  192286 non-null  int64
 34  trunk_road_flag                                   192286 non-null  int64
 35  lsoa_of_accident_location                         192286 non-null  object
dtypes: float64(4), int64(25), object(7)
memory usage: 54.3+ MB

In [71]:
df_local_authority_district_ref = pd.read_csv('../data/raw/Local_Authority_District.csv')
df_local_authority_district_ref = df_local_authority_district_ref.rename(columns={'code' : 'local_authority_district_code',
                                                                                  'label' : 'local_authority_district'})
# df_local_authority_district_ref
df_acc = df_acc.merge(df_local_authority_district_ref, on='local_authority_district_code', how='left')

In [72]:
df_local_authority_highway_ref = pd.read_csv('../data/raw/Local_Authority_Highway.csv')
df_local_authority_highway_ref = df_local_authority_highway_ref.rename(columns={'Code' : 'local_authority_highway_code',
                                                                                'Label' : 'local_authority_highway'})
# df_local_authority_highway_ref
df_acc = df_acc.merge(df_local_authority_highway_ref, on='local_authority_highway_code', how='left')

In [73]:
df_police_force_ref = pd.read_csv('../data/raw/Police_Force.csv')
df_police_force_ref = df_police_force_ref.rename(columns={'code' : 'police_force_code',
                                                          'label' : 'police_force'})
#df_police_force_ref
df_acc = df_acc.merge(df_police_force_ref, on='police_force_code', how='left')

In [74]:
# pedestrian_crossing_physical_facilities

df_pedestrian_crossing_physical_facilities_ref = pd.read_csv('../data/raw/Ped_Cross_Physical.csv')
df_pedestrian_crossing_physical_facilities_ref = df_pedestrian_crossing_physical_facilities_ref.rename(columns={'code' : 'pedestrian_crossing_physical_facilities_code',
                                                                                                                'label' : 'pedestrian_crossing_physical_facilities'})
df_acc = df_acc.merge(df_pedestrian_crossing_physical_facilities_ref, on='pedestrian_crossing_physical_facilities_code', how='left')

In [75]:
# junction_detail

df_junction_detail_ref = pd.read_csv('../data/raw/Junction_Detail.csv')
df_junction_detail_ref = df_junction_detail_ref.rename(columns={'code' : 'junction_detail_code',
                                                                'label' : 'junction_detail'})
df_acc = df_acc.merge(df_junction_detail_ref, on='junction_detail_code', how='left')

In [76]:
# road_type

df_road_type_ref = pd.read_csv('../data/raw/Road_Type.csv')
df_road_type_ref = df_road_type_ref.rename(columns={'code' : 'road_type_code',
                                                    'label' : 'road_type'})
df_acc = df_acc.merge(df_road_type_ref, on='road_type_code', how='left')

In [77]:
# junction_control 

df_junction_control_ref = pd.read_csv('../data/raw/Junction_Control.csv')
df_junction_control_ref = df_junction_control_ref.rename(columns={'code' : 'junction_control_code',
                                                                  'label' : 'junction_control'})
df_acc = df_acc.merge(df_junction_control_ref, on='junction_control_code', how='left')

In [78]:
# light_conditions

df_light_conditions_ref = pd.read_csv('../data/raw/Light_Conditions.csv')
df_light_conditions_ref = df_light_conditions_ref.rename(columns={'code' : 'light_conditions_code',
                                                    'label' : 'light_conditions'})
df_acc = df_acc.merge(df_light_conditions_ref, on='light_conditions_code', how='left')

In [79]:
# pedestrian_crossing_human_control

df_pedestrian_crossing_human_control_ref = pd.read_csv('../data/raw/Ped_Cross_Human.csv')
df_pedestrian_crossing_human_control_ref = df_pedestrian_crossing_human_control_ref.rename(columns={'code' : 'pedestrian_crossing_human_control_code',
                                                    'label' : 'pedestrian_crossing_human_control'})
df_acc = df_acc.merge(df_pedestrian_crossing_human_control_ref, on='pedestrian_crossing_human_control_code', how='left')

In [80]:
# did_police_officer_attend_scene_of_accident

df_did_police_officer_attend_scene_of_accident_ref = pd.read_csv('../data/raw/Police_Officer_Attend.csv')
df_did_police_officer_attend_scene_of_accident_ref = df_did_police_officer_attend_scene_of_accident_ref.rename(columns={'code' : 'did_police_officer_attend_scene_of_accident_code',
                                                    'label' : 'did_police_officer_attend_scene_of_accident'})
df_acc = df_acc.merge(df_did_police_officer_attend_scene_of_accident_ref, on='did_police_officer_attend_scene_of_accident_code', how='left')

In [81]:
# first_road_class

df_first_road_class_ref = pd.read_csv('../data/raw/Road_Class.csv')
df_first_road_class_ref = df_first_road_class_ref.rename(columns={'code' : 'first_road_class_code',
                                                    'label' : 'first_road_class'})
df_acc = df_acc.merge(df_first_road_class_ref, on='first_road_class_code', how='left')

In [82]:
# second_road_class

df_second_road_class_ref = df_first_road_class_ref.rename(columns={'first_road_class_code' : 'second_road_class_code',
                                                    'first_road_class' : 'second_road_class'})
df_acc = df_acc.merge(df_second_road_class_ref, on='second_road_class_code', how='left')

In [83]:
# day_of_week

df_day_of_week_ref = pd.read_csv('../data/raw/Day_of_Week.csv')
df_day_of_week_ref = df_day_of_week_ref.rename(columns={'code' : 'day_of_week_code',
                                                    'label' : 'day_of_week'})
df_acc = df_acc.merge(df_day_of_week_ref, on='day_of_week_code', how='left')

In [84]:
# urban_or_rural_area

df_urban_or_rural_area_ref = pd.read_csv('../data/raw/Urban_Rural.csv')
df_urban_or_rural_area_ref = df_urban_or_rural_area_ref.rename(columns={'code' : 'urban_or_rural_area_code',
                                                    'label' : 'urban_or_rural_area'})
df_acc = df_acc.merge(df_urban_or_rural_area_ref, on='urban_or_rural_area_code', how='left')

In [85]:
# accident_severity

df_accident_severity_ref = pd.read_csv('../data/raw/Accident_Severity.csv')
df_accident_severity_ref = df_accident_severity_ref.rename(columns={'code' : 'accident_severity_code',
                                                    'label' : 'accident_severity'})
df_acc = df_acc.merge(df_accident_severity_ref, on='accident_severity_code', how='left')

In [86]:
df_acc

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force_code,accident_severity_code,number_of_vehicles,...,road_type,junction_control,light_conditions,pedestrian_crossing_human_control,did_police_officer_attend_scene_of_accident,first_road_class,second_road_class,day_of_week,urban_or_rural_area,accident_severity
0,2020010219808,2020,10219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,Single carriageway,Data missing or out of range,Daylight,NaN,No - accident was reported using a self comple...,Unclassified,Not at junction or within 20 metres,Tuesday,Urban,Slight
1,2020010220496,2020,10220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,Single carriageway,Auto traffic signal,Daylight,None within 50 metres,Yes,A,Unclassified,Monday,Urban,Slight
2,2020010228005,2020,10228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,Single carriageway,Authorised person,Darkness - lights lit,None within 50 metres,Yes,C,Unclassified,Wednesday,Urban,Slight
3,2020010228006,2020,10228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,Single carriageway,Data missing or out of range,Darkness - lights lit,None within 50 metres,Yes,A,Not at junction or within 20 metres,Wednesday,Urban,Serious
4,2020010228011,2020,10228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,Single carriageway,Give way or uncontrolled,Darkness - lights lit,None within 50 metres,Yes,A,C,Wednesday,Urban,Slight
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
192281,2021991196247,2021,991196247,325546.0,674548.0,-3.194076,55.958152,99,3,2,...,Single carriageway,Give way or uncontrolled,Daylight,None within 50 metres,Yes,Unclassified,Unclassified,Wednesday,Urban,Slight
192282,2021991196607,2021,991196607,271195.0,558271.0,-4.010304,54.902512,99,3,2,...,Single carriageway,Data missing or out of range,Darkness - no lighting,None within 50 metres,Yes,A,Not at junction or within 20 metres,Saturday,Rural,Slight
192283,2021991197944,2021,991197944,357297.0,860768.0,-2.716825,57.634805,99,3,1,...,Single carriageway,Stop sign,Daylight,None within 50 metres,Yes,B,Unclassified,Saturday,Rural,Slight
192284,2021991200639,2021,991200639,326936.0,675925.0,-3.172192,55.970735,99,3,1,...,Unknown,Auto traffic signal,Daylight,None within 50 metres,No,A,A,Friday,Urban,Slight
192285,2021991201030,2021,991201030,270574.0,556367.0,-4.019126,54.885252,99,3,2,...,Single carriageway,Data missing or out of range,Daylight,None within 50 metres,Yes,A,Not at junction or within 20 metres,Friday,Rural,Slight

## Categorical Variables

In [116]:
freq = df_acc['local_authority_highway'].value_counts().sort_index()

freq_table = pd.DataFrame({
  'local_authority_highway': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

                  local_authority_highway  Frequency  Percent
89                                   Kent       6214     3.23
174                                Surrey       4814     2.50
62                                  Essex       4324     2.25
74                              Hampshire       4119     2.14
10                             Birmingham       3939     2.05
..                                    ...        ...      ...
36                       Clackmannanshire         40     0.02
102             London Airport (Heathrow)         29     0.02
113  Na h-Eileanan an Iar (Western Isles)         33     0.02
154                      Shetland Islands         19     0.01
131                        Orkney Islands         22     0.01

[206 rows x 3 columns]

In [115]:
freq = df_acc['police_force'].value_counts().sort_index()

freq_table = pd.DataFrame({
  'police_force': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

           police_force  Frequency  Percent
24  Metropolitan Police      43898    23.79
40        West Midlands       8614     4.67
19                 Kent       7165     3.88
41       West Yorkshire       6650     3.60
36               Sussex       6274     3.40
16            Hampshire       6248     3.39
37        Thames Valley       5740     3.11
8    Devon and Cornwall       5441     2.95
14   Greater Manchester       5407     2.93
12                Essex       5314     2.88
20           Lancashire       5069     2.75
35               Surrey       4814     2.61
0     Avon and Somerset       4366     2.37
32      South Yorkshire       4086     2.21
23           Merseyside       3715     2.01
30      Nottinghamshire       3535     1.92
18           Humberside       3530     1.91
29          Northumbria       3460     1.87
7            Derbyshire       3249     1.76
39          West Mercia       3042     1.65
17        Hertfordshire       2996     1.62
3              Cheshire       2960     1.60
22         Lincolnshire       2927     1.59
25              Norfolk       2699     1.46
2        Cambridgeshire       2582     1.40
27      North Yorkshire       2491     1.35
9                Dorset       2457     1.33
21       Leicestershire       2262     1.23
42            Wiltshire       2215     1.20
1          Bedfordshire       2164     1.17
34              Suffolk       2060     1.12
28     Northamptonshire       1913     1.04
31          South Wales       1911     1.04
11          Dyfed-Powys       1730     0.94
38         Warwickshire       1711     0.93
33        Staffordshire       1698     0.92
6               Cumbria       1498     0.81
26          North Wales       1438     0.78
13      Gloucestershire       1444     0.78
10               Durham       1232     0.67
5             Cleveland       1193     0.65
15                Gwent       1096     0.59
4        City of London        254     0.14

In [114]:
# pedestrian_crossing_physical_facilities

freq = df_acc['pedestrian_crossing_physical_facilities'].value_counts().sort_index()

freq_table = pd.DataFrame({
  'pedestrian_crossing_physical_facilities': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

             pedestrian_crossing_physical_facilities  Frequency  Percent
3   No physical crossing facilities within 50 metres     145911    78.38
4        Pedestrian phase at traffic signal junction      15505     8.33
5  Pelican, puffin, toucan or similar non-junctio...      10603     5.70
6                                              Zebra       8329     4.47
0                                     Central refuge       4979     2.67
2                               Footbridge or subway        463     0.25
1                       Data missing or out of range        367     0.20

In [113]:
# junction_detail

freq = df_acc['junction_detail'].value_counts().sort_index()

freq_table = pd.DataFrame({
  'junction_detail': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

                       junction_detail  Frequency  Percent
4  Not at junction or within 20 metres      79550    42.15
9              T or staggered junction      53325    28.26
0                           Crossroads      17800     9.43
7                           Roundabout      15126     8.02
5                       Other junction      10756     5.70
6            Private drive or entrance       4096     2.17
3    More than 4 arms (not roundabout)       2799     1.48
2                      Mini-roundabout       2770     1.47
8                            Slip road       2493     1.32
1         Data missing or out of range          4     0.00

In [112]:
# road_type

freq = df_acc['road_type'].value_counts().sort_index()

freq_table = pd.DataFrame({
  'road_type': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

            road_type  Frequency  Percent
3  Single carriageway     139983    72.80
0    Dual carriageway      28505    14.82
2          Roundabout      11527     5.99
5             Unknown       4613     2.40
1      One way street       4266     2.22
4           Slip road       3392     1.76

In [111]:
freq = df_acc['junction_control'].value_counts().sort_index()
freq_table = pd.DataFrame({
  'junction_control': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

               junction_control  Frequency  Percent
3      Give way or uncontrolled      84787    44.89
2  Data missing or out of range      80355    42.55
1           Auto traffic signal      21709    11.49
4                     Stop sign       1234     0.65
0             Authorised person        775     0.41

In [109]:
freq = df_acc['light_conditions'].value_counts().sort_index()
freq_table = pd.DataFrame({
  'light_conditions': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

               light_conditions  Frequency  Percent
5                      Daylight     138085    71.81
1         Darkness - lights lit      38902    20.23
3        Darkness - no lighting       9713     5.05
0   Darkness - lighting unknown       4178     2.17
2       Darkness - lights unlit       1396     0.73
4  Data missing or out of range         12     0.01

In [108]:
freq = df_acc['pedestrian_crossing_human_control'].value_counts().sort_index()
freq_table = pd.DataFrame({
  'pedestrian_crossing_human_control': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

    pedestrian_crossing_human_control  Frequency  Percent
3              None within 50 metres      181768    98.16
0  Control by other authorised person       2197     1.19
1   Control by school crossing patrol        824     0.44
2        Data missing or out of range        390     0.21

In [107]:
freq = df_acc['did_police_officer_attend_scene_of_accident'].value_counts().sort_index()
freq_table = pd.DataFrame({
  'did_police_officer_attend_scene_of_accident': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

         did_police_officer_attend_scene_of_accident  Frequency  Percent
2                                                Yes     132350    68.83
0                                                 No      36453    18.96
1  No - accident was reported using a self comple...      23482    12.21
3                                       data missing          1     0.00

In [106]:
# first_road_class

freq = df_acc['first_road_class'].value_counts().sort_index()

freq_table = pd.DataFrame({
  'first_road_class': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

  first_road_class  Frequency  Percent
0                A      85658    44.55
5     Unclassified      67305    35.00
2                B      24101    12.53
3                C       9253     4.81
4         Motorway       5479     2.85
1             A(M)        490     0.25

In [105]:
freq = df_acc['second_road_class'].value_counts().sort_index()

freq_table = pd.DataFrame({
  'second_road_class': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

                     second_road_class  Frequency  Percent
5  Not at junction or within 20 metres      79437    41.35
6                         Unclassified      78081    40.65
0                                    A      20349    10.59
2                                    B       7579     3.95
3                                    C       5936     3.09
4                             Motorway        651     0.34
1                                 A(M)         59     0.03

In [104]:
freq = df_acc['day_of_week'].value_counts().sort_index()
freq_table = pd.DataFrame({
  'day_of_week': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

  day_of_week  Frequency  Percent
0      Friday      31914    16.60
4    Thursday      29181    15.18
6   Wednesday      28467    14.80
5     Tuesday      27873    14.50
1      Monday      26747    13.91
2    Saturday      26296    13.68
3      Sunday      21808    11.34

In [103]:
freq = df_acc['urban_or_rural_area'].value_counts().sort_index()
freq_table = pd.DataFrame({
  'urban_or_rural_area': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

  urban_or_rural_area  Frequency  Percent
2               Urban     130524    67.88
0               Rural      61731    32.10
1         Unallocated         31     0.02

In [102]:
freq = df_acc['accident_severity'].value_counts().sort_index()
freq_table = pd.DataFrame({
  'accident_severity': freq.index,
  'Frequency': freq.values,
  'Percent': ((freq.values/freq.values.sum())*100).round(2),
})
freq_table.sort_values(by=['Percent'], inplace=True, ascending=False)
freq_table

  accident_severity  Frequency  Percent
2            Slight     149782    77.90
1           Serious      39639    20.61
0             Fatal       2865     1.49

# Export

In [119]:
df_acc.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192286 entries, 0 to 192285
Data columns (total 51 columns):
 #   Column                                            Non-Null Count   Dtype
---  ------                                            --------------   -----
 0   accident_index                                    192286 non-null  object
 1   accident_year                                     192286 non-null  int64
 2   accident_reference                                192286 non-null  object
 3   location_easting_osgr                             192255 non-null  float64
 4   location_northing_osgr                            192255 non-null  float64
 5   longitude                                         192255 non-null  float64
 6   latitude                                          192255 non-null  float64
 7   police_force_code                                 192286 non-null  int64
 8   accident_severity_code                            192286 non-null  int64
 9   number_of_vehicles                                192286 non-null  int64
 10  number_of_casualties                              192286 non-null  int64
 11  date                                              192286 non-null  object
 12  day_of_week_code                                  192286 non-null  int64
 13  time                                              192286 non-null  object
 14  local_authority_district_code                     192286 non-null  int64
 15  local_authority_ons_district                      192286 non-null  object
 16  local_authority_highway_code                      192286 non-null  object
 17  first_road_class_code                             192286 non-null  int64
 18  first_road_number                                 192286 non-null  int64
 19  road_type_code                                    192286 non-null  int64
 20  speed_limit                                       192286 non-null  int64
 21  junction_detail_code                              192286 non-null  int64
 22  junction_control_code                             192286 non-null  int64
 23  second_road_class_code                            192286 non-null  int64
 24  second_road_number                                192286 non-null  int64
 25  pedestrian_crossing_human_control_code            192286 non-null  int64
 26  pedestrian_crossing_physical_facilities_code      192286 non-null  int64
 27  light_conditions_code                             192286 non-null  int64
 28  weather_conditions                                192286 non-null  int64
 29  road_surface_conditions                           192286 non-null  int64
 30  special_conditions_at_site                        192286 non-null  int64
 31  carriageway_hazards                               192286 non-null  int64
 32  urban_or_rural_area_code                          192286 non-null  int64
 33  did_police_officer_attend_scene_of_accident_code  192286 non-null  int64
 34  trunk_road_flag                                   192286 non-null  int64
 35  lsoa_of_accident_location                         192286 non-null  object
 36  local_authority_district                          90402 non-null   object
 37  local_authority_highway                           192286 non-null  object
 38  police_force                                      184548 non-null  object
 39  pedestrian_crossing_physical_facilities           186157 non-null  object
 40  junction_detail                                   188719 non-null  object
 41  road_type                                         192286 non-null  object
 42  junction_control                                  188860 non-null  object
 43  light_conditions                                  192286 non-null  object
 44  pedestrian_crossing_human_control                 185179 non-null  object
 45  did_police_officer_attend_scene_of_accident       192286 non-null  object
 46  first_road_class                                  192286 non-null  object
 47  second_road_class                                 192092 non-null  object
 48  day_of_week                                       192286 non-null  object
 49  urban_or_rural_area                               192286 non-null  object
 50  accident_severity                                 192286 non-null  object
dtypes: float64(4), int64(25), object(22)
memory usage: 76.3+ MB

In [122]:
# Drop some columns
df_acc_export = df_acc.drop(['police_force_code',
                      'accident_severity_code',
                        'day_of_week_code',
                    'local_authority_district_code',
                    'local_authority_highway_code',
                    'first_road_class_code',
                    'junction_detail_code',
                    'junction_control_code',
                    'second_road_class_code',
                    'pedestrian_crossing_human_control_code',
                    'pedestrian_crossing_physical_facilities_code',
                    'light_conditions_code',
                    'urban_or_rural_area_code',
                    'did_police_officer_attend_scene_of_accident_code'
                    ],
                    axis=1)
df_acc_export.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 192286 entries, 0 to 192285
Data columns (total 37 columns):
 #   Column                                       Non-Null Count   Dtype
---  ------                                       --------------   -----
 0   accident_index                               192286 non-null  object
 1   accident_year                                192286 non-null  int64
 2   accident_reference                           192286 non-null  object
 3   location_easting_osgr                        192255 non-null  float64
 4   location_northing_osgr                       192255 non-null  float64
 5   longitude                                    192255 non-null  float64
 6   latitude                                     192255 non-null  float64
 7   number_of_vehicles                           192286 non-null  int64
 8   number_of_casualties                         192286 non-null  int64
 9   date                                         192286 non-null  object
 10  time                                         192286 non-null  object
 11  local_authority_ons_district                 192286 non-null  object
 12  first_road_number                            192286 non-null  int64
 13  road_type_code                               192286 non-null  int64
 14  speed_limit                                  192286 non-null  int64
 15  second_road_number                           192286 non-null  int64
 16  weather_conditions                           192286 non-null  int64
 17  road_surface_conditions                      192286 non-null  int64
 18  special_conditions_at_site                   192286 non-null  int64
 19  carriageway_hazards                          192286 non-null  int64
 20  trunk_road_flag                              192286 non-null  int64
 21  lsoa_of_accident_location                    192286 non-null  object
 22  local_authority_district                     90402 non-null   object
 23  local_authority_highway                      192286 non-null  object
 24  police_force                                 184548 non-null  object
 25  pedestrian_crossing_physical_facilities      186157 non-null  object
 26  junction_detail                              188719 non-null  object
 27  road_type                                    192286 non-null  object
 28  junction_control                             188860 non-null  object
 29  light_conditions                             192286 non-null  object
 30  pedestrian_crossing_human_control            185179 non-null  object
 31  did_police_officer_attend_scene_of_accident  192286 non-null  object
 32  first_road_class                             192286 non-null  object
 33  second_road_class                            192092 non-null  object
 34  day_of_week                                  192286 non-null  object
 35  urban_or_rural_area                          192286 non-null  object
 36  accident_severity                            192286 non-null  object
dtypes: float64(4), int64(12), object(21)
memory usage: 59.8+ MB

In [123]:
df_acc_export.to_csv('../data/processed/road_accident_clean.csv', index=False)