In [1]:
import pandas as pd

In [5]:
df_acc20_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2020.csv')
print("Count of row and columns")
df_acc20_raw.shape

Count of row and columns

/var/folders/gr/qbhbzltn5dq7hxmnmds25cd40000gn/T/ipykernel_24318/1574064192.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_acc20_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2020.csv')

(91199, 36)

In [7]:
df_acc21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2021.csv')
print("Count of row and columns")
df_acc21_raw.shape

Count of row and columns

/var/folders/gr/qbhbzltn5dq7hxmnmds25cd40000gn/T/ipykernel_24318/2271745749.py:1: DtypeWarning: Columns (0,2,35) have mixed types. Specify dtype option on import or set low_memory=False.
  df_acc21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-accident-2021.csv')

(101087, 36)

In [9]:
df_cas20_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-casualty-2020.csv')
print("Count of row and columns")
df_cas20_raw.shape

Count of row and columns

(115584, 18)

In [10]:
df_cas21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-casualty-2021.csv')
print("Count of row and columns")
df_cas21_raw.shape

Count of row and columns

/var/folders/gr/qbhbzltn5dq7hxmnmds25cd40000gn/T/ipykernel_24318/351493683.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_cas21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-casualty-2021.csv')

(128209, 19)

In [11]:
df_veh20_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-vehicle-2020.csv')
print("Count of row and columns")
df_veh20_raw.shape

Count of row and columns

/var/folders/gr/qbhbzltn5dq7hxmnmds25cd40000gn/T/ipykernel_24318/2191478434.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_veh20_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-vehicle-2020.csv')

(167375, 27)

In [12]:
df_veh21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-vehicle-2021.csv')
print("Count of row and columns")
df_veh21_raw.shape

Count of row and columns

/var/folders/gr/qbhbzltn5dq7hxmnmds25cd40000gn/T/ipykernel_24318/3632505792.py:1: DtypeWarning: Columns (0,2) have mixed types. Specify dtype option on import or set low_memory=False.
  df_veh21_raw = pd.read_csv('../data/raw/dft-road-casualty-statistics-vehicle-2021.csv')

(186443, 28)

In [13]:
df_acc20_raw.head()

,accident_index,accident_year,accident_reference,location_easting_osgr,location_northing_osgr,longitude,latitude,police_force,accident_severity,number_of_vehicles,...,pedestrian_crossing_physical_facilities,light_conditions,weather_conditions,road_surface_conditions,special_conditions_at_site,carriageway_hazards,urban_or_rural_area,did_police_officer_attend_scene_of_accident,trunk_road_flag,lsoa_of_accident_location
0,2020010219808,2020,10219808,521389.0,175144.0,-0.254001,51.462262,1,3,1,...,9,1,9,9,0,0,1,3,2,E01004576
1,2020010220496,2020,10220496,529337.0,176237.0,-0.139253,51.470327,1,3,1,...,4,1,1,1,0,0,1,1,2,E01003034
2,2020010228005,2020,10228005,526432.0,182761.0,-0.178719,51.529614,1,3,1,...,0,4,1,2,0,0,1,1,2,E01004726
3,2020010228006,2020,10228006,538676.0,184371.0,-0.001683,51.541210,1,2,1,...,4,4,1,1,0,0,1,1,2,E01003617
4,2020010228011,2020,10228011,529324.0,181286.0,-0.137592,51.515704,1,3,1,...,0,4,1,1,0,0,1,1,2,E01004763

In [16]:
frames_acc = [df_acc20_raw, df_acc21_raw]
df_acc = pd.concat(frames_acc)
df_acc.shape

(192286, 36)

In [14]:
df_cas20_raw.head()

,accident_index,accident_year,accident_reference,vehicle_reference,casualty_reference,casualty_class,sex_of_casualty,age_of_casualty,age_band_of_casualty,casualty_severity,pedestrian_location,pedestrian_movement,car_passenger,bus_or_coach_passenger,pedestrian_road_maintenance_worker,casualty_type,casualty_home_area_type,casualty_imd_decile
0,2020010219808,2020,010219808,1,1,3,1,31,6,3,9,5,0,0,0,0,1,4
1,2020010220496,2020,010220496,1,1,3,2,2,1,3,1,1,0,0,0,0,1,2
2,2020010220496,2020,010220496,1,2,3,2,4,1,3,1,1,0,0,0,0,1,2
3,2020010228005,2020,010228005,1,1,3,1,23,5,3,5,9,0,0,0,0,1,3
4,2020010228006,2020,010228006,1,1,3,1,47,8,2,4,1,0,0,0,0,1,3